.inner-title {
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.inner-subtitle {  
  font-size: 1.4em;
  padding: 0 50px;
  margin: 0;
}

/* @media screen and (max-width: 1000px) {
  .inner-title {    
    font-size: 8vw;
  }
}

@media screen and (max-width: 600px) {
  .inner-title {    
    font-size: 10vw;
  }
  .inner-subtitle{
    max-height: 100%;
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 500px) {
  .inner-title {    
    font-size: 15vw;
  }
  .inner-subtitle{
    max-height: 100%;
    font-size: 4vw;
  }
} */