body {
  overflow: hidden;
}

.transition {
  transition: all 1s ease;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: pink;
  z-index: 1;
  text-decoration: none;
}

.navbar span {
  font-size: 3vw;
  position: relative;
  transition: 1s;
  text-shadow: 0 0 10px pink, 0 0 20px pink, 0 0 30px pink;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar span:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 5vw;
  transition: transform 0.5s ease;
}

.icon.arrow-down {
  transform: rotate(90deg);
  transition: 0.5s ease ;
}

.navbar-name.selected .icon {
  transform: rotate(90deg);
}

.navbar span.selected {
  transform: scale(1.2);
  transition: 0.5s;
}

/* @media screen and (max-width: 1000px) {
  .title{
    top: 50%;
  }
  .subtitle{
    top: 50%;
  }
  
} */

/* @media screen and (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
  }
  
  .navbar span {
    font-size: 4vw;
    text-transform: uppercase;
    position: relative;
    transition: 1s;
    margin: 3vw;
    text-shadow: 0 0 10px pink, 0 0 20px pink, 0 0 30px pink;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
} */
