
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 70%;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s ease;
  text-decoration: none;
  gap: 15px;
}

.icon-wrapper span {
  font-size: 2em;
}

.icon-wrapper:hover {
  transform: scale(1.2);
  transition: 0.5s ease;  
}

.contact-icon {
  font-size: 5vw;
  transition: transform 0.5s ease;
}

.icon-text {
  font-size: 50%;  
}

.linkedin {  
  color: white;
}

.linkedin:hover {
  color: #0B66C2;
}

.phone {  
  color: white;
}

.phone:hover {
  color: #AF64DB;
}

.gmail {
  color: white;
  filter: brightness(200%) grayscale(1);
  animation: colorToGrayscale 0.5s ease forwards;
}

.gmail:hover {
  color: red;
  filter: grayscale(0);
  animation: grayscaleToColor 0.5s ease forwards;
  cursor: pointer;
}

.gmail-icon {
  height: auto;
}

@keyframes grayscaleToColor {
  from {
    filter: brightness(200%) grayscale(1);
  }
  to {
    filter: brightness(100%) grayscale(0);
  }
}

@keyframes colorToGrayscale {
  from {
    filter: brightness(100%) grayscale(0);
  }
  to {
    filter: brightness(200%) grayscale(1);
  }
}

.github {
  color: white;
}


.resume {
  color: white;
}

.resume:hover {
  color: #55ADFD;
}

.whatsapp {
  color: white;
}


.whatsapp:hover {
  color: #2BB203;
}

@media screen and (max-width: 500px) {
  .icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-top: 30%;
    text-align: center;
  }
  
  .icon-wrapper {    
    font-size: 8vw;
    transition: 0.5s ease;
    text-align: center;
  }

  .contact-icon {
    font-size: 12vw;
    transition: transform 0.5s ease;
  }

  .gmail-icon {
    height: 50px;
  }
}
