.homeButton{
  cursor: pointer;
  border: 0.5vw solid;
  border-radius: 100%;
  padding: 0.5%;
  font-size: 3vw;
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 9999;
  transition: "0.5s ease";
}

@media screen and (max-width: 500px) {
    .homeButton{
    cursor: pointer;
    border: 1vw solid;
    border-radius: 100%;
    padding: 0.5%;
    font-size: 5vw;
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 9999;
    transition: "1s ease";
  }
}