.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  gap: 10vw;  
}

.skill-subtitle{
  display: flex;
  justify-content: center;
  font-size: 3vw;
  
}

.skill-column{
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.skill-icon{
  margin-right: 1vw;
  margin-top: 1vw;
}

@media screen and (max-width: 500px) {
  .skills-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skill-subtitle {
    font-size: 4vw;
  }

  .skill-icon {
    font-size: 8vw;
  }
}