.swiperBorder {
  border: 0.2vw solid;
  padding: 1vw;
  border-radius: 1vw;
  overflow: hidden;
  margin: 10px;
  max-width: 700px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperImage {
  max-width: 100%;
  max-height: 100%;
}

.swiper {   
  width: 50vw;
}


@media screen and (max-width: 500px) {
  .swiperBorder {
    border: 0.2vw solid;
    border-radius: 1vw;
    overflow: hidden;
    min-height: 200px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw; 
    margin: 5px;
    z-index: 9999;
    position: relative;
  }
  .swiperImage{
    min-height: 200px;
    min-width: 150px;
    z-index: 0;
    position: relative;
  }
  .swiper {   
    width: 75vw;
  }
}